.services-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 68%;
  margin-top: 20px;
}

.services-section span {
  background-color: #b9ff66;
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 178px;
  height: 51px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.services-section p {
  margin: 0;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .services-section {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .services-section p {
    text-align: center;
  }
}
