.process-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 45px;
  padding: 20px 40px;
  gap: 10px;
  border-width: 1px;
  background-color: #f3f3f3;
  border: 1px solid #191a23;
  box-shadow: 0px 5px 0px 0px #191a23;
}

.process-card.active {
  background-color: #b9ff66;
}

.process-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.process-card-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.process-card-left h1 {
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
}

.process-card-left p {
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
}

.process-card-bottom {
  width: 100%;
}

.process-card-bottom p {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

@media (max-width: 768px) {
  .process-card {
    padding: 10px 20px;
    margin: 0;
    max-width: 100%;
  }

  .process-card img {
    width: 60%;
  }
  .process-card-left h1 {
    font-size: 24px;
  }

  .process-card-left p {
    font-size: 14px;
  }

  .process-card-bottom p {
    font-size: 12px;
  }
}
