.description-image {
  position: relative;
  top: -480px;
  right: -560px;
  max-width: 50%;
}

.description-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 45%;
}

.description-text h1 {
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
}

.description-text p {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.consultation-button {
  width: 264px;
  height: 68px;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
  gap: 10px;
  border-radius: 14px;
  background-color: #191a23;
  color: #ffffff;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .description-section {
    overflow-x: hidden;
    max-width: 100%;
  }
  .description-text,
  .consultation-button {
    max-width: 100%;
    flex-wrap: wrap;
  }

  .description-image {
    position: relative;
    max-width: 100%;
    top: -540px;
    right: 0px;
  }

  .description-image img {
    max-width: 100%;
  }

  .description-text p {
    max-width: 100%;
    padding-top: 230px;
  }

  .consultation-button {
    width: 100%;
  }

  .description-section {
    padding-left: 5px;
    padding-right: 5px;
  }
}
