.description-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.description-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

.description-image {
  padding-top: 25px;
}

.description-text h1 {
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0%;
}

.description-text p {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.consultation-button {
  width: 264px;
  height: 68px;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 20px;
  padding-left: 35px;
  gap: 10px;
  border-radius: 14px;
  background-color: #191a23;
  color: #ffffff;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .description-section {
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }
  .description-text {
    order: 1;
    gap: 0;
    justify-content: center;
    align-items: center;
  }

  .description-text h1 {
    font-size: 40px;
  }

  .description-text p {
    font-size: 20px;
  }

  .description-image {
    padding: 0;
  }

  .description-image img {
    height: auto;
    max-width: 100%;
  }

  .consultation-button {
    width: 100%;
  }
}
