.heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 50px;
}

.heading span {
  background-color: #b9ff66;
  font-family: Space Grotesk;
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  width: auto;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.heading p {
  margin: 0;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .heading {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .heading p {
    text-align: center;
    width: auto;
  }
}
