.contact-section {
  background-color: #f3f3f3;
  margin-top: 20px;
  border-radius: 45px;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-left: 100px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  margin-right: 0;
}

.form-label {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-left: 5px;
}

input[type="radio"] {
  accent-color: #b9ff66;
  border-width: 1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  gap: 30px;
}

.contact-reason {
  display: flex;
  gap: 10px;
}

.contact-form h4 {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.name-input,
.email-input {
  width: 450px;
  height: 20px;
  border-radius: 14px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  gap: 10px;
  border-width: 1px;
}

.message-input {
  width: 450px;
  height: 120px;
  border-radius: 14px;
  padding-top: 18px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
  gap: 10px;
  border-width: 1px;
  display: flex;
  text-align: justify;
}

.form-submit {
  width: 515px;
  height: 60px;
  border-radius: 14px;
  color: #ffffff;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  background-color: #191a23;
}

@media (max-width: 768px) {
  .contact-section,
  .contact-form,
  .contact-reason {
    padding: 0;
    margin: 0;
  }

  .form-right {
    display: none;
  }

  .name-input,
  .email-input,
  .message-input,
  .form-submit {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .contact-section,
  .contact-form {
    justify-content: center;
    align-items: center;
  }
  .contact-section {
    margin-top: 20px;
  }

  .contact-form {
    padding: 20px 0;
  }

  .form-submit {
    width: 100%;
    font-size: 12px;
    height: 50px;
  }
}
